.App {
  text-align: center;
}

.table-title {        
	padding-bottom: 15px;
	background: #435d7d;
	color: #fff;
	padding: 16px 30px;
	min-width: 100%;
	margin: -20px -25px 10px;
	border-radius: 3px 3px 0 0;
}

.page-link.disabled{
	color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}

.page-link.active{
	    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
